<div class="container-2">
    <ul class="nav flex-column">
        <li class="nav-item my-3">
        <a class="text-dark nav-link active" aria-current="page" href="/stock"><h2>StockDEV</h2></a>
        </li>
        <li class="nav-item dropdown">
        <a class="text-dark nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Estoque
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/stock">Produto em estoque</a></li>
            <li><a class="dropdown-item" href="/stock/register">Entrada no estoque</a></li>
            <li><a class="dropdown-item" href="/stock/exit">Saida no estoque</a></li>
        </ul>
        </li>
        <li class="nav-item dropdown">
        <a class="text-dark nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produtos
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/product">Todos os Produtos</a></li>
            <li><a class="dropdown-item" href="/product/register">Cadastrar produtos</a></li>
        </ul>
        </li>
    </ul>
</div>